.maqueta {
    width: 70rem;
    height: 70rem;
    border: 1px solid black;
    margin: auto;
}
.caja_1 {
    width: 66rem;
    height: 11rem;                                                              
    margin: 2rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 142);
    border: 1px solid black;
}

.caja_2 {
    width: 66rem;
    height: 30rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.caja_3 {
    width: 66rem;
    height: 20rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(110, 2, 110);
    border: 1px solid black ;

}

.caja_dentro {
    width: 20rem;
    height: 29.9rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(110, 4, 4);
    border: 1px solid black;
 
}

.caja_dentro2 {
    width: 50rem;
    background-color: green;
    height: 29.9rem;
    border: 1px solid black;
    display: flex;


}

.lista {
    width: 15rem;
    height: 20rem;
    background-color: orange;
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
}

